@media (max-width: 767.99px) {
  .header__items {
      flex-direction: column;
      /* Изменяем направление flexbox */
      align-items: flex-start;
      /* Выравниваем по левому краю */
  }

  .nav {
      display: none;
      /* Скрываем навигационное меню */
  }

  .menu-icon {
      display: flex;
          /* Показывать меню-иконку */
  }

  .menu-icon.active span:first-child {
      transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-icon.active span:nth-child(2) {
      opacity: 0;
  }

  .menu-icon.active span:last-child {
      transform: rotate(-45deg) translate(5px, -5px);
  }

  .nav.active {
      display: block;
      /* Показать меню при активации */
      position: fixed;
      /* Фиксируем положение меню */
      top: 0;
      /* Позиционируем меню сверху */
      left: 0;
      /* Позиционируем меню слева */
      width: 100%;
      /* Занимаем всю ширину */
      height: calc(100vh/20vh);
      /* Занимаем всю высоту */
      background-color: rgba(0, 0, 0, 0.8);
      /* Добавляем фон */
      z-index: 100;
      /* Помещаем поверх других элементов */
      padding: 30px;
  }

  .header__items {
      height: 280px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      flex-direction: row;
  }

  .nav__list {
      flex-direction: column;
      align-items: flex-start;
      /* Выравниваем по левому краю */
      gap: 20px;
  }

  .nav__list-link {
      color: white;
      /* Изменяем цвет текста на белый */
  }

  .header__call {
      display: none;
  }
.main__content{
  padding-top: 30px;
}
.main__content P{
  font-size: 10px;
  padding-bottom: 5px;
  
}
.poster{
  height: 100vh;
}

.body{
  overflow: hidden;
} 
.main__content-title{
  font-size: 22px;
}
.main__content-text{
  font-size: 12px;
  width: 300px;
}
.button{
  line-height: 111%;
  height: 50px;
}
.cloud{
  top: 266px;
  right: 0;
}
.rocket{
  top: 0;
}
.girl{
  top: 110px;
  z-index: -1;
}
.education__content{
  flex-direction: column;
}
.education__content-1{
  align-items: center;
  justify-content: center;
}
.kids__education{
 flex-direction: column; 
}
.kids__education-texts{
  gap: 10px;
}
.photogalery__title{
  padding-top: 30px;
  padding-bottom: 15px;
}
.kids__education-img{
  width: 50%;
}
.kids__education-text{
  width: 100%;
}
.groups__content{
  flex-direction: column;
  margin-bottom: 500px;
}
.teacher h2{
  margin-top: 520px;
}
.groups__items{
  width: 450px;
}
.teacher__items{
  flex-direction: column;
  align-items: center;
}
.contacts h2{
  padding-top: 30px;
  padding-bottom: 15px;
}
.google__map{
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
 
}
.google__map-items{
  position: relative;
 
}
iframe {
  width: 670px;
}
.rainbow{
  position: absolute;
  top: 350px;
  left: 20px;
  z-index: 10;
  width: 136px;
  height: 115px;
}
.rainbow-child{
  top: 350px;
  right: 20px;
}
.footer{
  margin-top: -200px;
}
.container{
  width: 670px;
  margin: 0 auto;
} 
}
